name: Release

on:
  push:
    tags:
      - 'cmd/any-store-cli/v*.*.*'

permissions: write-all

jobs:
  release-reusable:
    uses: anyproto/shared-actions/.github/workflows/release-go-daemons-reusable.yml@v1
    secrets: inherit # pass all secrets
